h1 {
    color: black;
}
h2 {
    color:rgb(0, 0, 0);
}
body {
    font-size: 110%;
  }
  span {
    font-size: 2em;
  }
p {
    color:black;
}
p {
    font-size: 1rem;
}

body
{
    background-image: url('FondBlanc.jpg');
    color: black;
    background-size:contain;
}

.center {
    text-align: center;
  }

.demi_colonne {
    float:left;
    width:50%;
    padding:10px;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
}

@media all and (max-width: 900px) {
    
    .demi_colonne {
        float:none;
        width:100%;
    }

}

img {
    display: block;
}

.flex_container {
    display: flex;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
